# Temp files
*.kate-swp
*.log

# Java classes
*.class

# Package files
*.jar
*.war
*.ear

# Gradle
-gradle/
TEST/.gradle/
build/
gradle-app.setting
.gradletasknamecache

# Gradle - avoid ignoring gradle wrapper
!gradle-wrapper.jar

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
